<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}">Formulari Clients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>
<div class="container">
    <h1 th:text="${titulo}" class="text-secondary border border-primary border-start-0 y border-end-0">
    </h1>
    <div th:object="${client}" th:remove="tag">
        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </div>
    <form th:action="@{/form}" th:object="${client}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>NAME</td>
                <td>
                    <div>
                    <label>
                        <input type="text" th:field="*{name}" class="form-control"
                               th:errorclass="'form-control alert danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"></small>
                    </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>LASTNAME</td>
                <td>
                    <div>
                    <label>
                        <input type="text" th:field="*{lastName}" class="form-control"
                               th:errorclass="'form-control alert danger'">>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}"
                               th:errors="*{lastName}"></small>
                    </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MAIL</td>
                <td>
                    <div>
                    <label>
                        <input type="email" th:field="*{mail}" class="form-control"
                               th:errorclass="'form-control alert danger'">>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('mail')}"
                               th:errors="*{mail}"></small>
                    </label>
                </div>
                </td>
            </tr>
            <tr>
                <td>DATE</td>
                <td>
                    <div>
                    <label>
                        <input type="date" th:field="*{createAt}" class="form-control"
                               th:errorclass="'form-control alert danger'">>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}"
                               th:errors="*{createAt}"></small>
                    </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Foto</td>
                <td>
                    <div>
                        <label>
                            <input type="file" name="file" class="form-control">
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input class="btn btn-primary" type="submit" value="Create Client"></td>
            </tr>
        </table>
<!--        <input type="hidden" th:field="*{id}"/> utilizamos el session complete -->
    </form>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!--<script th:src="@{/js/jquery-ui.min.js}"></script>-->
</body>
</html>