<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}">List Clients</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Spring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/listar}">Client</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-primary" th:href="@{/login}">Sing In</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="dropdown show">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span sec:authentication="name"></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <form id="logoutForm" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit">Sign Out
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container py-4">
    <h1 class="text-secondary border border-primary border-start-0 y border-end-0" th:text="${titulo}"></h1>
    <a class="btn btn-primary btn-xs" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}">Create Client</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th sec:authorize="hasRole('ROLE_USER')">id</th>
            <th>name</th>
            <th>lastName</th>
            <th>mail</th>
            <th>date</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">edit</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">add invoice</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clients : ${all}">
            <td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary" th:href="@{/ver/} + ${clients.id}" th:text="${clients.id}"></a></td>
  <!--          <td th:text="${clients.id}"></td>-->
            <td th:text="${clients.name}"></td>
            <td th:text="${clients.lastName}"></td>
            <td th:text="${clients.mail}"></td>
            <td th:text="${clients.createAt}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${clients.id}" th:text="'edit'"></a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-xs" th:href="@{'/invoice/form/' + ${clients.id}}" th:text="'add invoice'"></a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs" th:href="@{/delete/} + ${clients.id}" th:text="'delete'"
                   onclick="return confirm('Estas seguro de eliminar?')"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</html>